@import url('./fonts/fonts.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  font-family: 'Manrope', sans-serif;
  position:relative;
  height:100%;
  background:#ffffff;
  color:#000000;
}
main {
  position:fixed;
  top:0;
  right:0;
  height:100%;
  width:100%;
  min-width:380px;
  overflow:hidden;
  background:radial-gradient(circle, rgba(0,0,0,0) 50%, rgba(0,0,0,0.05) 100%);
}
section {
  display:flex;
  align-items:center;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  overflow:auto;
  overflow-y:auto;
  overflow-x:hidden;
}
a,a:link,a:visited,a:active {
  color:#667eea;
  text-decoration:none;
}
a:hover {
  color:#764ba2;
  text-decoration:underline;
}
em {
  font-style:italic;
}
h1 {
  font-family:'Barlow', sans-serif;
  font-style:italic;
  font-size:300px;
  line-height:300px;
  font-weight:900;
  text-transform:uppercase;
}
h1.smaller {
  font-size:250px;
  line-height:250px;
}
h3 {
  font-family:'Nunito', sans-serif;
  font-size:50px;
  line-height:15px;
  font-weight:400;
  text-transform:lowercase;
}
button {
  width:54px;
  height:54px;
  background:transparent;
  border:none;
  outline:none;
  color:rgba(255,255,255,0.4);
  cursor:pointer;
  border-radius:50%;
  line-height:68px;
  transition:background 300ms linear, color 300ms linear;
}
button:focus, button:hover, button:active {
  background:#680cdb;
  color:#000;
}
button[disabled] {
  pointer-events:none;
}
#notifications {
  position:absolute;
  bottom:24px;
  width:100%;
  z-index:5;
}
.notification {
  display:flex;
  justify-content:center;
  position:absolute;
  bottom:-80px;
  width:100%;
  opacity:1;
  transition:bottom 300ms ease-in-out, opacity 300ms ease;
}
.notification.active {
  bottom:0;
}
.notification.override {
  opacity:0;
}
.notification p,.tooltip p {
  background:#680cdb;
  color:#000;
  line-height:54px;
  padding:0 28px;
  border-radius:27px;
  font-weight:900;
  transition:background 300ms ease-in-out;
}
#tooltips {
  position:absolute;
  top:0;
  left:0;
  z-index:5;
}
.tooltip {
  position:fixed;
  bottom:100%;
  opacity:0;
  transition:opacity 300ms ease;
}
.tooltip.active {
  opacity:1;
}
.heading,.footing {
  position:relative;
  z-index:2;
  opacity:0.8;
}
header,footer {
  padding:100px 40px 0;
}
.content {
  position:relative;
  z-index:2;
  padding:100px 0 0;
}
article {
  padding:0 40px;
}
.stripes {
  position:absolute;
  top:-276px;
  right:-496px;
  height:384px;
  width:768px;
  background:#667eea;
  transform:rotate(45deg);
  transform-origin:top left;
  z-index:1;
}
.stripes:before {
  position:absolute;
  content:'';
  display:block;
  top:0;
  left:0;
  height:128px;
  width:100%;
  background:#48bb78;
  z-index:2;
}
.stripes:after {
  position:absolute;
  content:'';
  display:block;
  bottom:0;
  left:0;
  height:128px;
  width:100%;
  background:#764ba2;
  z-index:2;
}
.overlay {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
  z-index:3;
}
.hidden {
  display:none;
}

@media
only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1200px),
only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 1200px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 1200px),
only screen and (        min-device-pixel-ratio: 2) and (max-width: 1200px),
only screen and (                min-resolution: 192dpi) and (max-width: 1200px),
only screen and (                min-resolution: 2dppx) and (max-width: 1200px) { 
  h1 {
    font-size:200px;
    line-height:200px;
  }
  h1.smaller {
    font-size:150px;
    line-height:150px;
  }
  h3 {
    font-size:30px;
    line-height:10px;
  }
  header,footer {
    padding:40px 40px 0;
  }
  .stripes {
    top:-138px;
    margin-right:248px;
    height:192px;
    width:384px;
  }
  .stripes:before,.stripes:after {
    height:64px;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.material-symbols-outlined.filled {
  font-variation-settings:'FILL' 1,'wght' 400,'GRAD' 0,'opsz' 24;
}
