.env
ecosystem.config.js
node_modules
_graveyard
advanced.json
blocklist.json
secrets.json
ddns.json
certs.json
config.json
web/global/services.json
web/global/colors.json
web/global/favicon/*
!web/global/favicon/favicon.md
web/public/doom
web/public/doom/*
web/public/www/tpg2
web/public/www/tpg2/*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db