section {
  align-items:flex-start;
}
.notification p,.tooltip p {
  background:var(--color-primary);
  color:var(--color-notification-text);
} 
button:focus, button:hover, button:active {
  background:var(--color-secondary);
} 
.pip {
  position:relative;
  font-size:24px;
  line-height:40px;
  margin:0 0 40px;
  text-transform:uppercase;
  color:rgb(var(--color-text-rgb));
}
.pip:before,.pip:after {
  display:block;
  content:'';
  width:40px;
  height:40px;
  border-radius:50%;
}
.pip:before {
  position:relative;
  z-index:1;
  margin:0 20px 0 0;
  background:var(--pip-danger);
  float:left;
}
.pip:after {
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  background:linear-gradient(180deg, rgba(var(--bg-rgb),0) 0%, rgba(var(--bg-rgb),0.4) 100%);
} 
.pip.loading:before {
  background:var(--pip-loading);
}.pip.healthy:before {
  background:var(--color-accent);
} 
.pip .name {
  font-weight:800;
}
.pip .meta {
  font-size:16px;
  text-transform:lowercase;
}
form {
  display:flex;
  flex-direction:column;
  position:relative;
}
form input {
  height:30px;
  padding:12px 28px;
  margin:0 0 10px;
  z-index:1;
  outline:none;
  line-height:30px;
  font-size:24px;
  display:block;
  background:transparent;
  border:2px solid rgba(var(--color-text-rgb),0.2);
  color:var(--color-muted);
  border-radius:28px;
  transition:background 300ms ease, border 300ms ease, color 300ms ease;
} 
form input:last-of-type {
  margin:0;
  padding:12px 68px 12px 28px;
}
form button {
  position:absolute;
  bottom:2px;
  right:2px;
  z-index:2;
}
form.hide {
  opacity:0;
}
form:hover input, form:focus-within input {
  background:var(--color-background);
  border:2px solid rgba(var(--color-text-rgb),0.1);
  color:var(--color-text);
}
form input:focus {
  border:2px solid var(--focus-border);
}
form:hover button, form:focus-within button {
  background:var(--color-secondary);
  color:#fff;
}
form button:hover {
  background:var(--color-secondary);
} 
#logout {
  position:fixed;
  top:24px;
  right:24px;
  z-index:3;
  transition:right 2s ease-in-out, background 300ms linear, color 300ms linear;
}
#message {
  margin-top:8px;
  font-size:13px;
  padding:0 0 0 28px;
}
#message.error {
  color:var(--pip-danger);
}
#message.success {
  color:var(--color-accent);
}