:root {
  --pip-happy: #48bb78;
  --pip-danger: #e53e3e;
  --pip-loading: #ed8936;
}
section {
  align-items:flex-start;
}
.notification p,.tooltip p {
  background:var(--color-primary);
  color:var(--color-notification-text);
} 
button:focus, button:hover, button:active {
  background:var(--color-secondary);
} 
.pip {
  position:relative;
  font-size:24px;
  line-height:40px;
  margin:0 0 40px;
  text-transform:uppercase;
  color:rgb(var(--color-text-rgb));
}
.pip:before,.pip:after {
  display:block;
  content:'';
  width:40px;
  height:40px;
  border-radius:50%;
}
.pip:before {
  position:relative;
  z-index:1;
  margin:0 20px 0 0;
  background:var(--pip-danger);
  float:left;
}
.pip:after {
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  background:linear-gradient(180deg, rgba(var(--color-bg-rgb),0) 0%, rgba(var(--color-bg-rgb),0.4) 100%);
} 
.pip.loading:before {
  background:var(--pip-loading);
}.pip.healthy:before {
  background:var(--pip-happy);
} 
.pip .name {
  font-weight:800;
}
.pip .meta {
  font-size:16px;
  text-transform:lowercase;
}
#logout {
  position:fixed;
  top:24px;
  right:24px;
  z-index:3;
  transition:right 2s ease-in-out, background 300ms linear, color 300ms linear;
}
