.text-security {
    -webkit-text-security: disc;
}

.text-security.show-password {
    -webkit-text-security: none;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-gap-10 {
    gap: 10px;
}

.flex-space-between {
    justify-content: space-between;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
